* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Parisienne', cursive;
    background-image: url(pascal-debrunner-8xkImX3so8U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.header {
    background-color: rgba(19, 22, 26, 0.685); 
    font-size: 25px;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 0;
}

img:hover {
    opacity: 1;
}

.header{
    background-color: rgba(19, 22, 26, 0.685); 
    font-size: 25px;
    color: white;
    position: sticky;
}

.header_content {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
    position: sticky;
}

.logo_img {
    display: block;
    height: 100px;
    width: 100px;
}

.nav_list {
    display: flex;
    column-gap: 40px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: rgb(255,232,232);
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: rgb(228, 197, 197);
    padding: 20px;
}

.footer {
    padding: 20px;
    background-color: rgb(107, 141, 117);
    color: rgb(255, 243, 243);
}

.image {
    border-radius: 15px;
    width: 170px;
    height: 160px;
}

.album {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
        
.rounded {
    border-radius: 50%;
}

.radius {
    border-radius: 15px;
}

/*media query*/
@media (max-width: 650px) {
    .header_content {
        flex-direction: column;
        height: auto;
        padding: 25px 0;
        row-gap: 15px;
    }

    .nav_list {
        flex-direction: column;
        column-gap: 20px;
    }
}